<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>问卷调查</title>
    <style>
body {
  counter-reset: section;           /* 重置计数器成0 */
}
h3:before {
  counter-increment: section;      /* 增加计数器值 */
  content: "问题 " counter(section) " : "; /* 显示计数器 */
}
</style>

</head>

<body>
<h1 class="text-center">{{ questionnaire.caption }}</h1>
<div class="container">
    <div class="pull-right">
        <button class="btn btn-success addquestion">添加</button>
        <button class="btn btn-info condtion">保存</button>
    </div>
    <div class="row">
        <div class="col-md-10">
            <form class="form-horizontal">
                <div class="col-md-10 col-lg-offset-2 quest_list" >
                    {% for obj in question_list %}
                        <div class="question" quest_id="{{ obj.id }}" >
                            <span class="glyphicon glyphicon-remove delquestion" style="line-height: 28px;float: right"></span>

                            <h3></h3>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">问题：</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control textarea" rows="2"
                                              placeholder="问题" >{{ obj.caption }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">类型：</label>
                                <div class="col-sm-6">
                                    <select size="1" class="form-control selector" >
                                        {% for type in type_list %}
                                            {% if obj.types == type.id %}
                                                <option selected value="{{ type.id }}">{{ type.type }}</option>
                                            {% else %}
                                                <option value="{{ type.id }}">{{ type.type }}</option>
                                            {% endif %}
                                        {% endfor type_list %}
                                    </select>
                                </div>
                                {% if obj.types == 2 %}
                                    <span class="glyphicon glyphicon-plus addoption"
                                          style="color: #2e6da4;line-height: 28px">添加选项</span>
                                {% endif %}
                            </div>
                            {% if obj.types == 2 %}
                            <div class="form-group">
                                    <label class="col-sm-2 control-label">选项：</label>
                                    <div class="col-sm-10">
                                    <ul>
                                        {% for option in obj.option_set.all %}

                                                <li option_id="{{ option.id }}">
                                                    <label class="col-sm-2 control-label">内容：</label>
                                                    <input type="text" class="col-sm-3 content" placeholder="内容" value="{{ option.name }}">
                                                    <label class="col-sm-2 control-label">分值：</label>
                                                    <input type="text" class="col-sm-3 score" placeholder="分值" value="{{ option.score }}">
                                                    <span class="glyphicon glyphicon-remove deloption" style="font-size: 18px;color: #cccccc;line-height: 28px;margin-left: 20px"></span>
                                                </li>

                                        {% endfor %}
                                      </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

</div>
<div class="info" username="{{ questionnaire.creator.username }}" grade_id="{{ questionnaire.grade.id }}" questionnaire_id="{{ questionnaire.id }}"></div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
{#    选项改变#}
$(".selector").change(function () {
    var selectors=$(this).val();
    if (selectors == "2"){
        var netspan= '<span class="glyphicon glyphicon-plus addoption"style="color: #2e6da4;line-height: 28px">添加选项</span>';
        var option='<div class="form-group"> ' +
            '<label class="col-sm-2 control-label">选项：</label> ' +
            '<div class="col-sm-10">'+
                '<ul>' +
                    ' <li>' +
                    ' <label class="col-sm-2 control-label">内容：</label> ' +
                    '<input type="text" class="col-sm-3" placeholder="内容"value="">'+
                    '<label class="col-sm-2 control-label">分值：</label>' +
                    ' <input type="text" class="col-sm-3" placeholder="分值" value=""> '+
                    ' <span class="glyphicon glyphicon-remove" style="font-size: 18px;color: #cccccc;line-height: 28px;margin-left: 20px"></span> ' +
                    '</li> ' +
                 '</ul></div> </div> ';
        $(this).parent().parent().append(netspan);
        $(this).parent().parent().parent().append(option);
    }else{
        $(this).parent().next().remove();
        $(this).parent().parent().next().remove()

    }

});
{#添加选项#}
$(document).on("click",".addoption",function () {
        var options='<li>' +
                    ' <label class="col-sm-2 control-label">内容：</label> ' +
                    '<input type="text" class="col-sm-3" placeholder="内容">'+
                    '<label class="col-sm-2 control-label">分值：</label>' +
                    ' <input type="text" class="col-sm-3" placeholder="分值" > '+
                    ' <span class="glyphicon glyphicon-remove" style="font-size: 18px;color: #cccccc;line-height: 28px;margin-left: 20px"></span> ' +
                    '</li>';
        $(this).parent().next().children().children().append(options)
    });
{#删除问题#}
$(".delquestion").on("click",function () {
    $(this).parent().remove()
});
{#删除选项#}
$(".deloption").on("click",function () {
    $(this).parent().remove()
});
{#添加问题#}
$(".addquestion").on("click",function () {
    $(".question:first").clone(true).appendTo($(".quest_list"));
    $(".question:last").attr("quest_id","None");
    $("textarea").last().val("");
    $("select").last().val("1")
});
{#    保存#}
$(".condtion").click(function () {
     quest_list=[];
    $(".quest_list>.question").each(function () {
         var questions_id=$(this).attr("quest_id");
         var quest_caption=$(this).find(".textarea").val();
         var quest_type=$(this).find(".selector").val();
         options=[];
         if (quest_type == 2){

         $(this).find("li").each(function () {

             var opp_id=$(this).attr("option_id");
             var content=$(this).find(".content").val();
             var score=$(this).find(".score").val();
             options.push({"opp_id":opp_id,"content":content,"score":score})

         });
{#                  console.log(options);#}

         }
         if (quest_type == 2){
             quest_list.push({"questions_id":questions_id,"quest_caption":quest_caption,"quest_type":quest_type,"options":options})
         }else{
             quest_list.push({"questions_id":questions_id,"quest_caption":quest_caption,"quest_type":quest_type})

         }

    });
    var username=$(".info").attr("username");
    var questionnaire_id=$(".info").attr("questionnaire_id");
    var grade_id=$(".info").attr("grade_id");
    $.ajax({
        url:'/student/'+username+'/'+grade_id+'/edit/'+questionnaire_id,
        type:'post',
        data: JSON.stringify(quest_list),
        headers: {"X-CSRFToken": $.cookie('csrftoken')},
        contentType:"application/json",
        success:function(data){
            console.log(data)
        }

    })


});

</script>
</html>