<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>问卷调查列表</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
<h1 class="text-center">问卷调查列表</h1>
<div class="container">
    <div class="pull-right">
        <button class="btn btn-success">添加问卷</button>
    </div>
    <div>
        <table class="table table-border table-hover" style="margin-top: 20px">
                     <tr>
                         <th>调查问卷名称</th>
                         <th>问卷调查班级</th>
                         <th>参与人数</th>
                         <th>问卷选项</th>
                         <th>调查地址</th>
                         <th>查看评分</th>
                         <th>操作</th>
                     </tr>
                    <tbody>
                    {% for obj in  questionnaire_list%}
                        <tr>
                        <td>{{ obj.caption }}</td>
                        <td>{{ obj.grade }}</td>

                        <td>
                        {{ obj.question_set.first.answer_set.all.count }}/{{ obj.grade.student_set.all.count }}
                            </td>
                        <td><a href="/student/{{ obj.creator.username }}/{{ obj.grade.id }}/edit/{{ obj.id }}">编辑问卷</a></td>
                        <td><a href="/student/{{ obj.creator.username }}/{{ obj.grade.id }}/{{ obj.id }}">/student/{{ obj.creator.username }}/{{ obj.grade.id }}/{{ obj.id }}</a></td>
                        <td><a>查看评分</a></td>
                        <td><button class="btn btn-danger">删除</button></td>
                        </tr>
                    {% endfor %}

                    </tbody>


                </table>

    </div>

</div>
</body>
</html>